requests>=2.32.3

geopandas>=0.14.4
shapely>=2.0.6
pyproj>=3.7.0
fiona>=1.10.1

rasterio>=1.4.1
rioxarray>=0.18.2
xarray>=2025.6.1

numpy>=2.2.0
pandas>=2.3.0
scipy>=1.15.0

matplotlib>=3.10.0
folium>=0.20.0

reportlab>=4.2.5

pystac>=1.12.0
pystac-client>=0.8.5

pyarrow>=21.0.0

tqdm>=4.67.1
python-dateutil>=2.9.0
